root = true

[*]
end_of_line = lf
insert_final_newline = true

[todo]
charset = utf-8
indent_style = space
indent_size = 2

[*.{ts,tsx,js,json,.yml,bash}]
charset = utf-8
indent_style = space
indent_size = 2
